* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* ------------------- */
/* header-nav */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    background-color: black;
    height: calc(100vh - 100px);
    color: #717171;
    padding: 20px;
    font-size: 12px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
}

.foot-header {
    height: 5%%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.playlist {
    padding-top: 10px;
}

.logo {
    width: 120px;
}

.fa-grip-lines-vertical,
.fa-magnifying-glass,
.fa-house,
.fa-plus,
.fa-circle-user {
    font-size: 20px;
    color: #a3a3a3;
}

.fa-plus {
    background-color: #a3a3a3;
    color: black;
    padding: 2px 4px;
}

.new-playlist a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.foot-header a{
    display: flex;
    align-items: center;
    color: #717171;
    text-decoration: none;
    font-weight: bold;
}

.head-playlist {
    font-size: 15px;
    color: white;
}

.playlist a,
.navigation a {
    text-decoration: none;
    color: #717171;
}

header a:hover {
    color: #d2d2d2;
}

/* /header-nav */
/* ------------------- */



/* ----------------------- */
/* main */

main {
    display: flex;
    position: relative;
    background-color: #141922;
}

.main-section h2 {
    color: #d2d2d2;
    padding-top: 20px;
    padding-left: 5px;
}

.main-section h6 {
    color:#717171;
    padding-top: 5px;
    padding-left: 5px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 5px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-top: 20px;

}

.square {
    /* test */
    /* background-color: red; */

    width: calc((100vw - 180px) / 6 - (30px / 6 * 5) );
    height: calc(((100vw - 180px) / 6 - 30px) );
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: #717171;
}

.row-2,
.row-3 {
    justify-content: flex-start;
}

.row-3 .square img{
    border-radius: 50%;
}

.main-dx {
    display: flex;
}

.main-dx {
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.nav-main {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-weight: bold;
}

.nav-main a {
    text-decoration: none;
    color: #a3a3a3;
    font-size: 10px;
}

/* Chicca */
/* nasconde la scrollbar per Chrome, Safari and Opera */
.main-dx::-webkit-scrollbar {
    display: none;
  }
  
  /* /* nasconde la scrollbar per IE, Edge e Firefox */
  .main-dx {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* /Chicca */

.square img {
    width: 100%;
}

/* /main */
/* ----------------------- */

.bar-upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 150px);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    height: 70px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.226);
}

.bar-upgrade a {
    font-size: 10px;
    color: #5a5a5a;
    border: 1px solid #5a5a5a;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    transition: 2s;

}

.bar-upgrade a:hover {
    transition: 2s;
    color: #d2d2d2;
    border-color:#d2d2d2;
    font-size: 15px;
}


/* ------------------------- */
/* footer-playbar */

footer {
    height: 100px;
    background-color: #282828;
}

.play-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-sx img {
    width: 50px;
    height: 50px;
}

.footer-sx {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
    color: #c1c1c1;
}

.footer-sx .icone-sx {
    display: flex;
    gap: 15px;
    padding-left: 25px;

}
.foot-autore {
    display: flex;
    flex-direction: column;
}

.footer-center {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-center .center-down {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    color: #c1c1c1;
}

.footer-center .center-up ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    color: #c1c1c1;
}

.scorrimento-vuoto {
    height: 2px;
    width: 100%;
    border: 2px solid #5a5a5a;
}

.scorrimento {
    height: 2px;
    width: 35%;
    border: 2px solid #c1c1c1; 
}

.footer-dx {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 10px;
    color: #c1c1c1;
}

.footer-dx .barra-volume {
    width: 100px;
    height: 1px;
    border: 1px solid #5a5a5a;
}

.footer-dx .volume {
    width: 25%;
    height: 1px;
    border: 1px solid #c1c1c1;
}

.footer-sx .brano {
    color: #5a5a5a;
    font-size: 10px;
}

.footer-sx .autore {
    font-size: 12px;
}

.fa-circle-play {
    font-size: 40px;
}

footer i:hover,
footer .barra-volume:hover,
footer .volume:hover,
footer .scorrimento:hover,
footer .scorrimento-vuoto:hover,
footer span:hover,
footer img:hover {
    cursor: pointer;
}

/* /footer-playbar */
/* ------------------------- */